name: .NET Core Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore BikeRental/BikeRental.sln

    - name: Build solution
      run: dotnet build BikeRental/BikeRental.sln --no-restore --configuration Release

    - name: Run unit tests
      run: dotnet test BikeRental/BikeRental.sln --no-build --configuration Release --verbosity normal